내장함수

tuple :
반복 가능한 데이터를 튜플로 바꾸어 리턴하는 함수

all :
반복 가능한 데이터 x를 입력값으로 받으며 이 x의 요소가 모두 참이면 True, 거짓이 하나라도 있으면 False를 리턴

abc : 
어떤 숫자를 입력받았을 때 그 숫자의 절댓값을 리턴하는 함수

enumerare :
열거하다 라는 뜻
이 함수는 순거가 있는 데이터(리스트, 튜플, 문자열)를 입력으로 받아 인덱스 값을 포함하는 
enumerare객체를 리턴

zip

map

eval(강사님 왈 -> 쓰지 말아라)

중간 실습

1. 1~10까지의 리스트를 만들고 각 요소에 *3을 해보시오
2. ['hello', 'world', 'python', 'map'] 리스트의 각요소를 대문자로 바꿔보세요
3. list_a = [('홍길동', 5000), ('김팔득', 6000), ('곽두팔', 7000)]의
    급여인상률은 10% 이다.
    직원과 급여를 리스트로 만들고 각 직원의 급여를 업데이트 하세요

In [7]:
list_a = [1,2,3,4,5,6,7,8,9,10]

print(list_a*3)

def num(x):
    return x*3

list(map(num, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [4]:
list_a = ['hello', 'world', 'python', 'map'] 
list_b = []

for i in range(len(list_a)):
    list_b.append(list_a[i].upper())

print(list_b)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [10]:
list_a = [('홍길동', 5000), ('김팔득', 6000), ('곽두팔', 7000)]

for i in range(len(list_a)):
    name, money = list_a[i]
    update_money = int(money * 1.1)
    list_a[i] = (name, update_money)

print(list_a)

[('홍길동', 5500), ('김팔득', 6600), ('곽두팔', 7700)]

In [11]:
list_a = [('홍길동', 5000), ('김팔득', 6000), ('곽두팔', 7000)]

def int_rate(x):
    name, money = x
    new_money = money + (money * 0.1)
    return name, new_money

print(list(map(int_rate, list_a)))

[('홍길동', 5500.0), ('김팔득', 6600.0), ('곽두팔', 7700.0)]

예외 처리