1. 판다스 라이브 러리를 pd라는 별칭으로 임포트 하시오
2. 다음 데이터를 포함하는 데이터프레임을 생성하세요
    이름: 김철수, 이영희, 박동민, 최지은  
    나이: 25, 30, 22, 31  
    성별: 남, 여, 남, 여  
    직업: 개발자, 디자이너, 마케터, 기획자
3. 생성한 데이터프레임의 처음 2개 행과 마지막 행 2개 행을 출력하시오
4. 데이터프레임의 정보를 출력하여 각 컬럼의 데이터 타입과 결측지 여부를 확인하세요.
5. '이름' 컬럼을 '사용자 이름'으로, '나이' 컬럼을 '사용자 나이 컬럼을 추가하세요'
7. '성별' 컬럼을 삭제하세요
8. 나이가 30세 이상인 상요자만 선택하여 출력하세요
9. 최종 데이터 프레임을 csv파일로 저장하세요 파일이름은 'user_data.csv'로 설정하고, 인덱스는 저장하지 않습니다.

In [8]:
# 1
import pandas as pd

# 2
data = {
    '이름': ['김철수', '이영희', '박동민', '최지윤'],
    '나이': [25, 30, 22, 31],
    '성별': ['남', '여', '남', '여'],
    '직업': ['개발자', '디자이너', '마케터', '기획자']
}

df = pd.DataFrame(data)

In [9]:
# 3
import pandas as pd

data = {
    '이름': ['김철수', '이영희', '박동민', '최지윤'],
    '나이': [25, 30, 22, 31],
    '성별': ['남', '여', '남', '여'],
    '직업': ['개발자', '디자이너', '마케터', '기획자']
}

df = pd.DataFrame(data)

df.head(2)

    이름  나이 성별    직업
0  김철수  25  남   개발자
1  이영희  30  여  디자이너

In [10]:
# 4
import pandas as pd

data = {
    '이름': ['김철수', '이영희', '박동민', '최지윤'],
    '나이': [25, 30, 22, 31],
    '성별': ['남', '여', '남', '여'],
    '직업': ['개발자', '디자이너', '마케터', '기획자']
}

df = pd.DataFrame(data)

df.tail(2)

    이름  나이 성별   직업
2  박동민  22  남  마케터
3  최지윤  31  여  기획자

In [12]:
# 4
import pandas as pd

data = {
    '이름': ['김철수', '이영희', '박동민', '최지윤'],
    '나이': [25, 30, 22, 31],
    '성별': ['남', '여', '남', '여'],
    '직업': ['개발자', '디자이너', '마케터', '기획자']
}

df = pd.DataFrame(data)

df.info(data)
df.isnull()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      4 non-null      object
 1   나이      4 non-null      int64
 2   성별      4 non-null      object
 3   직업      4 non-null      object
dtypes: int64(1), object(3)
memory usage: 256.0+ bytes

      이름     나이     성별     직업
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False  False  False

In [ ]:
# 5